.content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.chat-rooms {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 350px;
  border-right: 1px solid #dcdcdc;
}

.chat-room-messages {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
